<ion-header>
  <ion-toolbar>
    <ion-title>COVID 19</ion-title>
  </ion-toolbar>

  <ion-toolbar>
    <ion-segment (ionChange)="getMainOptions($event)" [value]="selectedMainOption" color="secondary">
      <ion-segment-button value="India">
        <ion-label>India</ion-label>
      </ion-segment-button>
      <ion-segment-button value="Other">
        <ion-label>Other</ion-label>
      </ion-segment-button>
      <ion-segment-button value="Safety">
        <ion-label>Safety</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ng-container *ngIf="selectedMainOption == 'India'">
    <app-indian-state-wise></app-indian-state-wise>
  </ng-container>

  <ng-container *ngIf="selectedMainOption == 'Other'">
    <app-country-wise></app-country-wise>
  </ng-container>

  <ng-container *ngIf="selectedMainOption == 'Safety'">
    <app-safety-measures></app-safety-measures>
  </ng-container>

  <ng-template #elseBlock>0</ng-template>
</ion-content>
