.slides {
  margin-top: 10px;
  img {
    border-radius: 10px;
    box-shadow: -1px 11px 13px -6px rgb(87,86,86);
    height: 500px;
    width: 350px;
  }
  .ion-slide {
    padding-bottom: 20px;
  }
}

.infoslide {
  margin-top: 20px;
  padding: 10px;
  img {
    border-radius: 10px;
    box-shadow: -1px 11px 13px -6px rgb(87,86,86);
  }
}
